.studenthome-container {
  padding: 20px;
}

.description {
  margin: 20px 0;
  text-align: center;
}

.student-info {
  margin-top: 30px;
  background: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
}
